@model IEnumerable<ProjectPracticeVideos.Controllers.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtyStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtyStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.productId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
